#search {
  #main-ico-search {
    top: 0.2em !important;
  }
}

header.global-header {
  @include box;
  border-bottom-color: transparent !important;

  .logo {
    filter: var(--filter) !important;
  }

  #sitemap {
    background-color: var(--grey-3);
  }

  @media screen and (min-width: 580px) and (max-width: 1023px) {
    .navigation {
      padding-right: 88px;
    }
  }

  button {
    background-color: var(--grey-2) !important;
    box-shadow: var(--shadow-1);

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &#search__trigger__mobile {
      margin-right: 16px;
    }

    &.navigation__toggle {
      outline: none !important;

      &:hover {
        box-shadow: 0px 0 0px 2px var(--white-10);
      }

      &:focus {
        box-shadow: 0px 0 0px 2px var(--white-30);
      }
    }

    &:not(.sitemap__section-header--radicals):not(.sitemap__section-header--kanji):not(.sitemap__section-header--vocabulary):hover,
    &.navigation__toggle:not(#search__trigger)[data-expanded="true"]:hover {
      border-color: var(--white-10);
    }

    &:not(.sitemap__section-header--radicals):not(.sitemap__section-header--kanji):not(.sitemap__section-header--vocabulary):not(#search__trigger):not(#search__trigger__mobile)[data-expanded="true"],
    &:not(.sitemap__section-header--radicals):not(.sitemap__section-header--kanji):not(.sitemap__section-header--vocabulary):focus,
    &.navigation__toggle:focus {
      border-color: var(--white-30);
    }

    &.sitemap__section-header {
      outline: none;
      border: 2px solid transparent;

      &--radicals:hover {
        border-color: var(--blue-1-50) !important;
      }

      &--radicals[data-expanded="true"],
      &--radicals:focus {
        border-color: var(--blue-1) !important;
      }

      &--kanji:hover {
        border-color: var(--yellow-1-50) !important;
      }

      &--kanji[data-expanded="true"],
      &--kanji:focus {
        border-color: var(--yellow-1) !important;
      }

      &--vocabulary:hover {
        border-color: var(--green-1-50) !important;
      }

      &--vocabulary[data-expanded="true"],
      &--vocabulary:focus {
        border-color: var(--green-1) !important;
      }
    }

    &:not(.sitemap__section-header--radicals):not(.sitemap__section-header--kanji):not(.sitemap__section-header--vocabulary):not(#search__trigger):not(#search__trigger__mobile)[data-expanded="true"],
    &:not(.sitemap__section-header--radicals):not(.sitemap__section-header--kanji):not(.sitemap__section-header--vocabulary):focus,
    &.navigation__toggle:focus {
      border-color: var(--white-30);
    }
  }

  .navigation-shortcut,
  .navigation-shortcut[data-count="0"] {
    a {
      border-color: var(--white-10);

      &:focus,
      &:hover {
        border-color: var(--white-30);
      }

      span {
        background: transparent;
        color: var(--green-1) !important;
        padding-left: 14px;
        padding-right: 0;
        margin-right: 12px;
      }
    }
  }

  .sitemap--divider {
    border-top-color: var(--grey-4);
  }

  .sitemap__expandable-chunk:not(.sitemap__expandable-chunk--account) {
    background-color: var(--grey-3);

    &::before {
      background-color: var(--grey-3);
    }

    &.sitemap__expandable-chunk--radicals,
    &.sitemap__expandable-chunk--kanji,
    &.sitemap__expandable-chunk--vocabulary {
      span,
      a {
        color: var(--grey-3) !important;
      }
    }

    &.sitemap__expandable-chunk.sitemap__expandable-chunk--radicals {
      background-color: var(--blue-1);
      &::before {
        background-color: var(--blue-1);
      }
    }

    &.sitemap__expandable-chunk.sitemap__expandable-chunk--kanji {
      background-color: var(--yellow-1) !important;
      &::before {
        background-color: var(--yellow-1);
      }
    }

    &.sitemap__expandable-chunk.sitemap__expandable-chunk--vocabulary {
      background-color: var(--green-1) !important;
      &::before {
        background-color: var(--green-1);
      }
    }
  }
}
