input,
textarea {
  background-color: var(--grey-2) !important;
  box-shadow: var(--shadow-2) !important;
  transition: box-shadow linear 0.2s !important;
  border-color: transparent !important;
}

button {
  border-radius: 5px;
}
